##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-1-2020
##
## Addon Requirements for Testing
splunk-add-on-ucc-framework==4.2.0
lovely-pytest-docker==0.2.0
reuse==0.12.1
pytest==6.2.1
https://download.splunk.com/misc/packaging-toolkit/splunk-packaging-toolkit-1.0.1.tar.gz
pytest-xdist==2.2.0
pytest-ordering==0.6
pytest-splunk-addon==1.4.0
pytest-expect==1.1.0
pytest-splunk-addon-ui-smartx==1.1.1
pytest-rerunfailures==9.1.1
mock==3.0.5
requests==2.25.1
u-msgpack-python==2.5.0
six==1.12.0
coverage==4.0.3
splunk-sdk==1.6.14
future==0.18.2
-r requirements_addon_specific.txt