##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-1-2020
##
## Addon Requirements for Testing
git+https://github.com/splunk/addonfactory-ucc-generator.git@ucc_ui_lib_migration
lovely-pytest-docker
reuse
pytest
https://download.splunk.com/misc/packaging-toolkit/splunk-packaging-toolkit-1.0.1.tar.gz
pytest-xdist
pytest-ordering
pytest-splunk-addon==1.6.0
pytest-expect
git+https://github.com/splunk/addon-factory-smartx-ui-test-library.git@test/new_ucc
pytest-rerunfailures
mock
requests
u-msgpack-python
six
coverage
splunk-sdk
future
-r requirements_addon_specific.txt
