##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-1-2020
##
-r tests/requirements.txt
splunk-add-on-ucc-framework==4.1.3
lovely-pytest-docker
reuse
